Repository pavlenkotm/ethsold: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, python, typescript, go

fix: comprehensive codebase fixes and improvements
  go/rpc-client/main.go
  go/rpc-client/main_test.go
  python/web3-cli/contract_deployer.py
  python/web3-cli/requirements.txt
  python/web3-cli/wallet_manager.py
  solidity/contracts/Auction.sol
  solidity/contracts/Crowdfunding.sol
  solidity/contracts/DAO.sol
  solidity/contracts/Escrow.sol
  solidity/contracts/Lottery.sol
  solidity/contracts/NFTMarketplace.sol
  solidity/contracts/Staking.sol
  solidity/package-lock.json
  solidity/package.json
  typescript/dapp-frontend/index.html
  typescript/dapp-frontend/src/App.css
  typescript/dapp-frontend/src/App.tsx
  typescript/dapp-frontend/src/main.tsx
  typescript/dapp-frontend/src/test/setup.ts
  typescript/dapp-frontend/vite.config.ts
Due: solidity, python, typescript, go

feat: add 7 exotic programming languages and polish codebase
  README.md
  crystal/blockchain_tools/README.md
  crystal/blockchain_tools/shard.yml
  crystal/blockchain_tools/src/web3_client.cr
  elixir/blockchain_node/README.md
  elixir/blockchain_node/lib/blockchain_node.ex
  elixir/blockchain_node/lib/blockchain_node/application.ex
  elixir/blockchain_node/lib/blockchain_node/block_cache.ex
  elixir/blockchain_node/lib/blockchain_node/subscriber.ex
  elixir/blockchain_node/mix.exs
  kotlin/android-wallet/README.md
  kotlin/android-wallet/app/build.gradle.kts
  kotlin/android-wallet/app/src/main/java/com/ethsold/wallet/WalletManager.kt
  kotlin/android-wallet/build.gradle.kts
  lua/contract_scripts/README.md
  lua/contract_scripts/web3.lua
  nim/keccak_hash/README.md
  nim/keccak_hash/keccak.nim
  nim/keccak_hash/keccak.nimble
  scala/enterprise-blockchain/README.md
  scala/enterprise-blockchain/build.sbt
  scala/enterprise-blockchain/src/main/scala/com/ethsold/blockchain/BlockchainClient.scala
  solidity/contracts/SimpleToken.sol
  solidity/contracts/Voting.sol
  zig/keccak256/README.md
  zig/keccak256/build.zig
  zig/keccak256/src/main.zig
Due: solidity

feat: add 6 major blockchain smart contract languages
  README.md
  cairo/starknet-contract/README.md
  cairo/starknet-contract/Scarb.toml
  cairo/starknet-contract/counter.cairo
  cairo/starknet-contract/erc20.cairo
  clarity/stacks-contract/Clarinet.toml
  clarity/stacks-contract/README.md
  clarity/stacks-contract/counter.clar
  clarity/stacks-contract/sip010-token.clar
  go/cosmos-module/README.md
  go/cosmos-module/go.mod
  go/cosmos-module/keeper/keeper.go
  go/cosmos-module/types/codec.go
  go/cosmos-module/types/msgs.go
  ink/polkadot-contract/Cargo.toml
  ink/polkadot-contract/README.md
  ink/polkadot-contract/erc20.rs
  ink/polkadot-contract/lib.rs
  motoko/icp-canister/README.md
  motoko/icp-canister/counter.mo
  motoko/icp-canister/dfx.json
  motoko/icp-canister/token.mo
  rust/near-contract/Cargo.toml
  rust/near-contract/README.md
  rust/near-contract/src/lib.rs
Due: go

fix: исправлены ошибки компиляции и сборки проекта
  solidity/compile-with-solcjs.js
  solidity/contracts/NFTMarketplace.sol
  solidity/hardhat.config.js
  solidity/package.json
  typescript/dapp-frontend/src/vite-env.d.ts
Due: solidity, typescript

chore: update package-lock.json after installing solc-js dependency
  solidity/package-lock.json
Due: solidity

Add dynamic EIP-1559 fee support to wallet CLI
  python/web3-cli/README.md
  python/web3-cli/test_wallet_manager.py
  python/web3-cli/wallet_manager.py
Due: python

Path conditions:
  solidity: any of: solidity/, but not: **/*.test.js, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*_test.go, **/tests/, **/__tests__/, **/node_modules/, **/coverage/, **/dist/, **/build/, **/*.config.js, **/*.config.ts
  python: any of: python/, but not: **/*.test.js, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*_test.go, **/tests/, **/__tests__/, **/node_modules/, **/coverage/, **/dist/, **/build/, **/*.config.js, **/*.config.ts
  typescript: any of: typescript/, but not: **/*.test.js, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*_test.go, **/tests/, **/__tests__/, **/node_modules/, **/coverage/, **/dist/, **/build/, **/*.config.js, **/*.config.ts
  go: any of: go/, but not: **/*.test.js, **/*.test.ts, **/*.test.tsx, **/test_*.py, **/*_test.go, **/tests/, **/__tests__/, **/node_modules/, **/coverage/, **/dist/, **/build/, **/*.config.js, **/*.config.ts
